<ion-header *ngIf="connectionStatus == 1">
  <div class="offline-header"></div>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5">
    <ion-refresher-content
      class="refresh"
      pullingText="{{'common.pullToRefresh'|translate}}"
      pullingIcon="arrow-dropdown"
      refreshingSpinner="crescent"
      refreshingText="{{'common.Refreshing'|translate}}"
    >
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid class="container" [class.darkContainer]="theme.darkMode" [class.blur]="menuService.optionsOn">

    <div class="profile-header">
      <ion-img *ngIf="avatar" [src]="'data:'+avatar.contentType+';base64,'+avatar.data"></ion-img>
      <ion-img *ngIf="!avatar" src="/assets/images/default-contact.svg"></ion-img>
      <h1>{{ name }}</h1>
      <p>{{ description }}</p>
    </div>

    <div class="tab-container" [class.removeMargin]="selectType === 'ProfilePage.myLikes'">
      <div class="left-tab" [class.tab-active]="selectType === 'ProfilePage.myFeeds'" (click)="changeType('ProfilePage.myFeeds')">
        <span>{{ 'ProfilePage.myFeeds' | translate }}</span>
      </div>
      <div class="middle-tab" [class.tab-active]="selectType === 'ProfilePage.following'" (click)="changeType('ProfilePage.following')">
        <span>{{ 'ProfilePage.following' | translate }}</span>
      </div>
      <div class="right-tab" [class.tab-active]="selectType === 'ProfilePage.myLikes'" (click)="changeType('ProfilePage.myLikes')">
        <span>{{'ProfilePage.myLikes' | translate }}</span>
      </div>
    </div>
  
    <app-myfeeds *ngIf="selectType === 'ProfilePage.myFeeds'" [channels] = "channels" [nodeStatus]="nodeStatus"></app-myfeeds>
    <app-following *ngIf="selectType === 'ProfilePage.following'" [followingList] = "followingList" [nodeStatus]="nodeStatus"></app-following>
    <app-likes  *ngIf="selectType === 'ProfilePage.myLikes'" [likeList] = "likeList" [nodeStatus]="nodeStatus"></app-likes>
   
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        class="ion-padding-top"
        loadingSpinner="crescent"
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-grid>

</ion-content>

<ion-row class="global-options" [class.global-darkOptions]="theme.darkMode" *ngIf="menuService.optionsOn">
  <div class="close ion-activatable ripple" (click)="menuService.hideOptions()">
    <img *ngIf="!theme.darkMode" src="/assets/icons/cross.svg">
    <img *ngIf="theme.darkMode" src="/assets/icons/darkmode/cross.svg">
    <ion-ripple-effect></ion-ripple-effect>
  </div>
  <ion-col size="4.5" class="left-col" (click)="menuService.shareChannel()">
    <div class="option">
      <ion-icon mode="ios" name="share"></ion-icon>
      <span>Share</span> 
    </div>
  </ion-col>
  <ion-col size="3" class="middle-col">
    <div class="divider"></div>
  </ion-col>
  <ion-col size="4.5" class="right-col" (click)="menuService.deleteChannel()">
    <div class="option">
      <ion-icon mode="ios" name="trash"></ion-icon>
      <span>Unfollow</span>
    </div>
  </ion-col>
</ion-row>